.DS_Store
.idea/
*.iml
*~
*.bak
*.orig
*.rej
*.swp
*.tmp
*.temp
*.rs.bk

/target/
**/target/
/dist/
/tests/ceph-s3-tests/

__pycache__/
*.py[cod]
.pytest_cache/
.coverage

tests/pg_regress/results/
tests/pg_regress/regression.diffs
tests/pg_regress/regression.out

/artifacts/
